body {
  font-family: 'Red Hat Mono', monospace; }

.login-body {
  background-image: url("/Gradient-Outline.jpg");
  overflow-y: hidden; }

.forgot-password {
  color: white;
  text-decoration: none !important; }

.forgot-password:hover, .forgot-password:active, .forgot-password:focus {
  color: #cccccc;
  text-decoration: none !important; }

.login-form {
  border: 2px solid white;
  padding: 50px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.363);
  width: 80%; }

.login-form-wrapper {
  -webkit-animation-name: fade-in-login;
  animation-name: fade-in-login;
  -webkit-animation-duration: 3s;
  animation-duration: 3s; }

@-webkit-keyframes fade-in-login {
  from {
    opacity: 0%; }
  to {
    opacity: 100%; } }

@keyframes fade-in-login {
  from {
    opacity: 0%; }
  to {
    opacity: 100%; } }

.login-form input,
.login-form .form-label,
.login-form label {
  color: white; }

.login-form label {
  opacity: 0%; }

.login-form input {
  background-color: rgba(0, 0, 0, 0.363); }

.login-form input, .forgot-password {
  opacity: 0%;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-name: fade-in-login;
  animation-name: fade-in-login;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

.login-form input:hover,
.login-form input:focus,
.login-form input:active {
  background-color: rgba(0, 0, 0, 0.151);
  color: white; }

.login-button {
  border: 1px solid white;
  opacity: 0%;
  background-color: rgba(0, 0, 0, 0.363);
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-name: fade-in-login;
  animation-name: fade-in-login;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

.login-form label {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-name: fade-in-login;
  animation-name: fade-in-login;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

#remember-password-checkbox {
  background-color: rgba(0, 0, 0, 0.363) !important;
  border-color: white; }

#remember-password-checkbox:active, #remember-password-checkbox:focus, #remember-password-checkbox:hover {
  background-color: rgba(0, 0, 0, 0.151) !important; }

.login-button:hover,
.login-button:focus,
.login-button:active {
  background-color: rgba(0, 0, 0, 0.151);
  border: 1px solid white;
  color: white; }

.login-logo {
  width: 35%;
  border-radius: 15px;
  margin-bottom: 20px;
  opacity: 0%;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-name: fade-in-login;
  animation-name: fade-in-login;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-direction: forwards;
  -webkit-animation-direction: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }
