$primary-color: #d4967d;
$transparent-black-1: rgba(0, 0, 0, 0.363);
$transparent-black-2: rgba(0, 0, 0, 0.075);
$transparent-black-3: rgba(0, 0, 0, 0.700);
$transparent-white-1: rgba(255, 255, 255, 0.39);
$transparent-white-2: rgba(255, 255, 255, 0.85);